<div class="row">
  <div class="col-sm-12">
    <h1>Table of Contents</h1>
  </div>
</div>

<h2>Sections</h2>

<% @sections.each_with_index do |section, i| %>
  <div class="col-sm-6 well">
    <h3>Section <%= i + 1 %></h3>
    <%= link_to section.heading, section_path(section) %>
  </div>
<% end %>
