<h2>
  <%= @lesson.title %> <em>Lesson!</em>
</h2>


<p class='well'>
  <%= @lesson.content %>
</p>

<%= link_to "Next", section_lesson_path(@section, @lesson.next_valid_id) %>
<%= link_to "Previous", section_lesson_path(@section, @lesson.previous_valid_id) %>
